spring:
  application:
    name: order-api

  datasource:
    url: jdbc:postgresql://localhost:5432/restaurant
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect